*{
    font-family: "Roboto", sans-serif;
}

nav img{
    margin-left: 200px;
    margin-right: 400px;
    margin-top: 10px;
    margin-bottom: 25px;
}
nav a{
    color: grey;
    text-decoration: none;
    margin-left: 30px;
}
nav a:hover{
    text-decoration: underline;
}
nav button{
    margin-left: 30px;
    background-color: rgb(75, 118, 75);
    color: white;
}

h3{
    color: rgb(47, 70, 47);
    margin-top: 20px;
    font-weight: 400;
}
